<html>
   <body>
   <br><br><br><br><br><br>
   <div align="center">
      <form action = "http://localhost:5000/result" method = "POST">
         <p><font size="+2" color="blue"><u><b>Country:</u></b> <br><br></font><b><input type ="text" name = "Country" style="height: 80px; width: 300px; font-size: 30px;
         font-family: "Times New Roman", Times, serif;" /></b></p>
         
         <p><input type = "submit" value = "submit" style="height: 60px; width: 300px;  background-color: blue;" /></p>
      </form>
      </div>
   </body>
</html>
